@font-face {font-family: Quicksand; src: url('./assets/fonts/Quicksand/Quicksand-Variable.ttf') format('truetype'); font-weight: 300 700; font-display: swap;}
@font-face {font-family: Gaegu; src: url('./assets/fonts/Gaegu/Gaegu-Regular.ttf') format('truetype'); font-weight: 400; font-display: swap;}
@font-face {font-family: Gaegu; src: url('./assets/fonts/Gaegu/Gaegu-Bold.ttf') format('truetype'); font-weight: 700; font-display: swap;}
